.menu-button {
    align-items: center;
    width: 80%;
    align-self: center;
    font-size: 24px;
}

.menu-button:hover {
    scale: 1.1 1.1;
    transition-timing-function: ease-out-elastic;
    transition-duration: 0.5s;
}

.menu-button:active {
}
